.item-preview {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    border: solid black 1px;
    margin-bottom: 1vh;
    padding: 1vh;
}

.item-preview:hover {
    background-color: lightgray;
    opacity: 0.9;
}

.item-preview-image {
    height: 10vh;
}